.imagenAlert img {
    width: 90px;
    height: auto;
    padding: 5px;
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
}

.fondo-modal {
    animation: fadeIn 0.3s ease forwards;
}

.fondo-modal.saliendo {
    animation: fadeOut 0.3s ease forwards;
}

.caja-modal {
    animation: slideDown 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.caja-modal.saliendo {
    animation: slideUp 0.3s ease forwards;
}

.boton-confirmar {
    position: relative;
    align-items: center;
    justify-content: right;
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 1;
}

.boton-confirmar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #e2ae2b;
    transition: height 0.4s ease;
    z-index: -1;
}

.boton-confirmar:hover {
    color: white;
}

.boton-confirmar:hover::before {
    height: 100%;
}

.boton-cancelar {
    position: relative;
    align-items: center;
    justify-content: right;
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 1;
}

.boton-cancelar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f90707;
    transition: height 0.4s ease;
    z-index: -1;
}

.boton-cancelar:hover {
    color: white;
}

.boton-cancelar:hover::before {
    height: 100%;
}