.imagenFooter{
    width: 15%;
    margin: 30px 0 30px 0;
}

.marcoFooter{
    display: flex;
    background-image: url('/images/fondo-negro.webp');
}
.contactos{
    color: white;
    display: flex;
    flex-direction: column ;
    margin: 30px 30px 30px 70px;
    padding: 30px;
}

.contactos h5{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}
ul{
    list-style-type: disc;
}

.lineaDivisoria{
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin: 15px;
}

.rrss{
    color: white;
    display: flex;
    flex-direction: column ;
    margin: 30px 30px 30px 70px;
    padding: 30px;
}

.rrss li{
    padding:5px ;
}

.contactos li{
    padding:5px ;
}
