.imagenFooter{
    width: 250px;
    display:flex;
    margin: auto;
}

.marcoFooter{
    display: flex;
    background-image: url('/images/fondo-negro.webp');
}
.contactos{
    color: white;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 70px;
    padding: 30px;
}

.contactos h5{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}
.contactos ul , .rrss ul{
    list-style-type: disc;
}

.lineaDivisoria{
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin: 15px;
}

.rrss{
    color: white;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 70px;
    padding: 30px;
}

.rrss h5{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

.rrss li{
    padding:5px ;
}

.contactos li{
    padding:5px ;
}

.googleMaps{
    color: white;
    display: flex;
    flex-direction: column ;
    margin: 30px 30px 30px 70px;
    padding: 30px;
}


.googleMaps h5{
    font-size: 18px;
    text-align: center;
    color:white;
    text-decoration: underline;
    margin-bottom: 20px;
}

@media screen and (max-width: 1204px) {
    .marcoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenFooter {
        margin: 20px auto;
        display: block;
    }

    .contactos,
    .rrss {
        margin: 10px 0;
        display: flex;
        align-items: center ;
        padding: 15px;
        width: 100%;
        
    }
    .googleMaps {
        margin: 10px 0;
        display: flex;
        align-items: center ;
        padding: 15px;
        width: 100%;
    }
    .lineaDivisoria {
        margin: 8px;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .marcoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenFooter {
        margin: 20px auto;
        display: block;
    }

    .contactos,
    .rrss {
        margin: 10px 0;
        display: flex;
        align-items: center ;
        padding: 15px;
        width: 100%;
        
    }
    .googleMaps {
        margin: 10px 0;
        display: flex;
        align-items: center ;
        padding: 15px;
        width: 100%;
    }
    .lineaDivisoria {
        margin: 8px;
        width: 80%;
    }
}

